# React / Node
**/node_modules/
**/dist/

# Spring Boot / Maven
**/target/
**/.mvn/

# Java compiled files
*.class

# Logs
*.log

# Environment files
.env
.env.*
!.env.example

# IDE files
.vscode/
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db